* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #FBFBFB;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}